!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Welcome To Balitax Node.js Labs
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/js/google-code-prettify/prettify.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/font-awesome.css')

    script(src='/js/jquery.js')
    script(src='/js/google-code-prettify/prettify.js')
    script(src='/js/bootstrap-transition.js')
    script(src='/js/bootstrap-alert.js')
    script(src='/js/bootstrap-modal.js')
    script(src='/js/bootstrap-dropdown.js')
    script(src='/js/bootstrap-scrollspy.js')
    script(src='/js/bootstrap-tab.js')
    script(src='/js/bootstrap-tooltip.js')
    script(src='/js/bootstrap-popover.js')
    script(src='/js/bootstrap-button.js')
    script(src='/js/bootstrap-collapse.js')
    script(src='/js/bootstrap-carousel.js')
    script(src='/js/bootstrap-typeahead.js')
    script(src='/js/bootstrap-affix.js')
    script(src='/js/application.js')
    script(src='/js/voide.js')

  body(data-spy='scroll', data-target='.bs-docs-sidebar')
#social-top
      .container
        ul
          li
            a(href='https://plus.google.com/u/0/110223092345948159327','target=_blank')
              i.icon-google-plus-sign.icon-large
          li
            a(href='https://github.com/balitax','target=_blank')
              i.icon-github-sign.icon-large
          li
            a(href='https://www.facebook.com/cahyocode','target=_blank')
              i.icon-facebook-sign.icon-large
          li
            a(href='http://twitter.com/cahinformatika','target=_blank')
              i.icon-twitter-sign.icon-large

    #orange-hero
      .container
        #myCarousel.carousel.slide
          //
             Carousel items 
          .carousel-inner
            .active.item
              .pull-left.span5.slides-home
                h2 A really catchy header to get your business aspects off the ground and running.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue.
                  | Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat.
                  | Mauris ornare tempor nulla, vel sagittis diam convallis eget. Ut ultricies ornare dui, ac accumsan diam
                  | convallis eget.
                br
                a.darkbtnslide(href='contact.html') Contact Us Today
              .pull-right.span6
                img(src='/img/slide3.png', alt='slide1')
            .item
              img(src='/img/slide4.png', alt='slide1')
            .item
              img(src='/img/slide2.png', alt='slide1')
          //
             Carousel nav 
        a.carousel-control-home-left.left(href='#myCarousel', data-slide='prev')
        a.carousel-control-home-right.right(href='#myCarousel', data-slide='next')
      //
        /container
    //
      /orange hero
    #grey-content.greyhome
      .container
        .row
          .span6home.featured-boxes
            i.icon-bar-chart
            h4 Real time stats, right away.
            p
              | There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.
          //
            /span 6
          .span6home.featured-boxes
            i.icon-cogs
            h4 Options that go on forever.
            p
              | There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.
          //
            /span 6
          .span6home.featured-boxes
            i.icon-phone
            h4 Full customer support, always.
            p
              | There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.
          //
            /span 6
          .span6home.featured-boxes
            i.icon-dashboard
            h4 Dashboard, we've got that too.
            p
              | There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.
          //
            /span 6
        //
          /row
      //
        /container
    //
      
      /footer meta
    #footer-bottom
      .container
        .row
          .span12
            ul
              li
                a(href='#') Home
              li
                a(href='#') About
              li
                a(href='#') Blog
              li
                a(href='#') Work
              li
                a(href='#') Contact
            p
              | &copy; Copyright 2013 - 
              a(href='#') Balitax Labs 
              | . All rights reserved.
          //
            /span 12
        //
          /row
      //
        /container

