 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smoothie - A Responsive Corporate WordPress Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <link href="public/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="public/js/google-code-prettify/prettify.css" rel="stylesheet">
	<link rel="stylesheet" href="public/css/font-awesome.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../../../html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="public/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="public/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="public/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="public/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="public/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  
  <div id="social-top">
  	<div class="container">
  		<ul>
  			<li><a href="#"><i class="icon-google-plus-sign icon-large"></i></a></li>
  			<li><a href="#"><i class="icon-github-sign icon-large"></i></a></li>
  			<li><a href="#"><i class="icon-linkedin-sign icon-large"></i></a></li>
  			<li><a href="#"><i class="icon-pinterest-sign icon-large"></i></a></li>
  			<li><a href="#"><i class="icon-facebook-sign icon-large"></i></a></li> 
  			<li><a href="#"><i class="icon-twitter-sign icon-large"></i></a></li>
  			
  		</ul>
  	</div><!--/container-->	
  </div><!--/social top-->
  
    <!-- Navbar
    ================================================== -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand pull-left" href="index.html"><img src="public/img/logo.png" alt="Smoothie" width="166" height="22" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="active">
                <a href="index.html">Home</a>
              </li>
              <li class="">
                <a href="about.html">About</a>
              </li>
              <li class="">
                <a href="blog.html">Blog</a>
              </li>
              <li class="dropdown">
                <a id="drop" href="work.html" role="button" class="dropdown-toggle" data-toggle="dropdown">Work <b class="orange-caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
                        <li><a tabindex="-1" href="work-4cols.html">4 Columns</a></li>
                        <li><a tabindex="-1" href="work-3cols.html">3 Columns</a></li>
                        <li><a tabindex="-1" href="work-2cols.html">2 Columns</a></li>
                        <li><a tabindex="-1" href="work-single.html">Single Work</a></li>
                    </ul>
              </li>
              <li class="dropdown">
               <a id="drop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Features <b class="orange-caret"></b></a>
               		<ul class="dropdown-menu" role="menu" aria-labelledby="drop">
                        <li><a tabindex="-1" href="typography.html">Typography</a></li>
                        <li><a tabindex="-1" href="elements.html">Elements</a></li>
                        <li><a tabindex="-1" href="full-width.html">Full Width</a></li>
                        <li><a tabindex="-1" href="pricing-tables.html">Pricing Tables</a></li>
                        <li><a tabindex="-1" href="right-sidebar.html">Right Sidebar</a></li>
                        <li><a tabindex="-1" href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a tabindex="-1" href="404.html">404 Page</a></li>
                    </ul>
              </li>
              <li class="">
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

	<div id="orange-hero">
		<div class="container">
			<div id="myCarousel" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						<div class="pull-left span5 slides-home">
						
						<h2>A really catchy header to get your business aspects off the ground and running.</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
					Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. 
					Mauris ornare tempor nulla, vel sagittis diam convallis eget. Ut ultricies ornare dui, ac accumsan diam 
					convallis eget.</p>
					<br>
					<a class="darkbtnslide" href="contact.html">Contact Us Today</a>
					</div>
					<div class="pull-right span6">
					<img src="public/img/slide3.png" alt="slide1" />
					</div>
					
					</div>
					<div class="item"><img src="public/img/slide4.png" alt="slide1" /></div>
					<div class="item"><img src="public/img/slide2.png" alt="slide1" /></div>
				</div>
				<!-- Carousel nav -->
				
			</div>
			
			<a class="carousel-control-home-left left" href="#myCarousel" data-slide="prev"></a>
			<a class="carousel-control-home-right right" href="#myCarousel" data-slide="next"></a>
			
		</div><!--/container-->
	</div><!--/orange hero-->
	
	<div id="grey-content" class="greyhome">
		<div class="container">
			<div class="row">
				<div class="span6home featured-boxes">
					<i class="icon-bar-chart"></i>
					<h4>Real time stats, right away.</h4>
					<p>There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.</p>
				</div><!--/span 6-->
				<div class="span6home featured-boxes">
					<i class="icon-cogs"></i>
					<h4>Options that go on forever.</h4>
					<p>There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.</p>
				</div><!--/span 6-->
				<div class="span6home featured-boxes">
					<i class="icon-phone"></i>
					<h4>Full customer support, always.</h4>
					<p>There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.</p>
				</div><!--/span 6-->
				<div class="span6home featured-boxes">
					<i class="icon-dashboard"></i>
					<h4>Dashboard, we've got that too.</h4>
					<p>There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.</p>
				</div><!--/span 6-->
			</div><!--/row-->
		</div><!--/container-->
	</div><!--/grey content -->
	<div id="call-out">
		<div class="container">
			<h2 class="pull-left">This is a little call out section, You can edit it to say whatever you'd like. Make a statement today.</h2>
			<a class="pull-right darkbtn" href="#">Buy This Theme Today</a>
		</div><!--/container-->
	</div><!--/call out-->
	
	<div id="white-home-blog">
		<div class="container">
			<div class="row">
				<div class="span12 column-divider">
					<span class="column-divider-icon pull-left home-icon-fix"><i class="icon-bookmark"></i></span>
					<h4>Recent News</h4>
				</div><!--/row9-->
			</div><!--/row-->
		
			<div class="row home-news">
				<div class="span4 opacity-fade">
					<a href="blog.html">
						<img class="img-rounded" src="public/img/three.png" alt="three" />
						<h4>We’ve updated our application</h4>
					</a>
					<p class="muted-small">November 21, 2012 &nbsp; / &nbsp; <a href="#" class="muted-small">12 Comments</a> </p>
					<p>There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.</p>
				</div><!--/row 4-->
				<div class="span4 opacity-fade">
					<a href="blog.html">
						<img class="img-rounded" src="public/img/three.png" alt="three" />
						<h4>We’ve updated our application</h4>
					</a>
					<p class="muted-small">November 21, 2012 &nbsp; / &nbsp; <a href="#" class="muted-small">12 Comments</a> </p>
					<p>There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.</p>
				</div><!--/row 4-->
				<div class="span4 opacity-fade">
					<a href="blog.html">
						<img class="img-rounded" src="public/img/three.png" alt="three" />
						<h4>We’ve updated our application</h4>
					</a>
					<p class="muted-small">November 21, 2012 &nbsp; / &nbsp; <a href="#" class="muted-small">12 Comments</a> </p>
					<p>There are many variations of passages or lorem ipsum available, but the majority have been alteration in some form by humor.</p>
				</div><!--/row 4-->
			</div><!--/row-->
		</div><!--/container-->
	</div><!--/white-home-blog-->
	
	<div id="footer-meta">
		<div class="container">			
			<div class="row">
				<div class="span3">
					<h5>Text Blurb</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
					Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. 
					Mauris ornare tempor nulla, vel sagittis diam convallis eget.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. 
					Pellentesque nec lacus elit.</p>
				</div><!--/span3-->
				<div class="span3">
					<h5>Tweets</h5>
					<p>Our first theme should be available for purchase on ThemeForest within 24 hours! <br><span class="twitter-time">About 2 hours ago</span></p>
					<p>Uploading our theme to ThemeForest now. <br><span class="twitter-time">About 4 hours ago</span></p>
					<p>Our first theme should be available for purchase on ThemeForest within 24 hours! <br><span class="twitter-time">About 12 hours ago</span></p>	
				</div><!--/span3-->
				<div class="span3 footer-favorites">
					<h5>Favorites</h5>
					<ul>
						<li><a href="#">Smashing Magazine</a></li>
						<li><a href="#">CSS Tricks</a></li>
						<li><a href="#">Dribbble</a></li>
						<li><a href="#">ThemeForest</a></li>
						<li><a href="#">CodeCanyon</a></li>
						<li><a href="#">ActiveDen</a></li>	
					</ul>
				</div><!--/span3-->
				<div class="span3">
					<h5>Newsletter</h5>
					<p>Subscribe to our email list so you can keep up to date with our latest and greatest work.</p>
					<div id="newsletter-signup">
						<form class="form-horizontal">
							<label for="inputEmail"></label>
								<div class="controled">
  								<input class="span3" type="text" id="inputName" placeholder="Name">
							</div>
							<label for="inputEmail"></label>
								<div class="controled">
  								<input class="span3" type="text" id="inputEmail" placeholder="Email">
							</div>
							<button type="submit" class="pull-right orangebtn">Submit</button>
						</form>
					</div><!--/newsletter signup-->
					
				</div><!--/span3-->		
			</div><!--/row-->
						
		</div><!--/container-->
	</div><!--/footer meta-->
	
	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="work.html">Work</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					<p>Copyright 2012 - <a href="../../../metaffex.com/default.htm">Smoothie, Inc</a>. All rights reserved.</p>
				</div><!--/span 12-->
			</div><!--/row-->
		</div><!--/container-->
	</div><!--/footer bottom-->





    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../../../platform.twitter.com/widgets.js"></script>
    <script src="public/js/jquery.js"></script>
    <script src="public/js/google-code-prettify/prettify.js"></script>
    <script src="public/js/bootstrap-transition.js"></script>
    <script src="public/js/bootstrap-alert.js"></script>
    <script src="public/js/bootstrap-modal.js"></script>
    <script src="public/js/bootstrap-dropdown.js"></script>
    <script src="public/js/bootstrap-scrollspy.js"></script>
    <script src="public/js/bootstrap-tab.js"></script>
    <script src="public/js/bootstrap-tooltip.js"></script>
    <script src="public/js/bootstrap-popover.js"></script>
    <script src="public/js/bootstrap-button.js"></script>
    <script src="public/js/bootstrap-collapse.js"></script>
    <script src="public/js/bootstrap-carousel.js"></script>
    <script src="public/js/bootstrap-typeahead.js"></script>
    <script src="public/js/bootstrap-affix.js"></script>
    <script src="public/js/application.js"></script>



  </body>
</html>